site_name: Qubx
site_url: https://xlydian.com
site_description: Qubx - Quantitative Trading Framework
repo_url: https://github.com/xLydianSoftware/Qubx
nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quick Start Guide: getting-started/quick-start.md
      - Configuration: getting-started/configuration.md
  - Core Concepts:
      - Backtesting Framework: core-concepts/backtesting-framework.md
      - Strategies: core-concepts/strategies.md
      - Data Management: core-concepts/data-management.md
  - Backtesting:
      - Simulations: backtesting/simulations.md
      - Backtest Management: backtesting/management.md
      - Scheduling: backtesting/scheduling.md
      - Performance Metrics: backtesting/performance-metrics.md
  - Trading:
      - Paper Trading: trading/paper-trading.md
      - Live Trading: trading/live-trading.md
      - Risk Management: trading/risk-management.md
  - Analysis and Reporting:
      - Visualization: analysis/visualization.md
      - Reporting: analysis/reporting.md
  - API Reference:
      - Core API: api/core-api.md
      - Strategy API: api/strategy-api.md
      - Data API: api/data-api.md
  - Tutorials and Examples:
      - Basic: tutorials/basic.md
      - Data Preparation: tutorials/data-preparation.md
      - Deployment: tutorials/deployment.ipynb
      - QuestDB setup: tutorials/questdb-setup.md
      - Signal Export: tutorials/signal-export.md
  - Development:
      - Contributing: development/contributing.md
      - Development Setup: development/setup.md
      - Build Process: development/build-process.md
  - About: about.md
theme:
  name: material
  # logo: "images/logo.png"
  # favicon: "images/logo.png"
  custom_dir: "docs/overrides"
  features:
    - content.code.annotate
    - search.share
    - content.code.copy
    - navigation.top
    - navigation.footer
  palette:
    - scheme: slate
      primary: "black"
      accent: "tear"
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: default
      primary: "black"
      accent: "tear"
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
extra_css:
  - "stylesheets/qx.extra.css"
extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
markdown_extensions:
  - attr_list
  - admonition
  - footnotes
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.pathconverter
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      base_path: docs
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_truly_sane_lists
extra:
  version:
    provider: mike
    alias: true
plugins:
  - search:
      enabled: true
  - mike:
      deploy_prefix: "en"
      canonical_version: "stable"
  - mkdocs-jupyter:
      theme: dark
      include_requirejs: true
