[build-system]
requires = [ "poetry-core", "setuptools", "numpy>=1.26.3", "cython==3.0.8", "toml>=0.10.2",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "Qubx"
version = "0.6.64"
description = "Qubx - Quantitative Trading Framework"
authors = [ "Dmitry Marienko <dmitry.marienko@xlydian.com>", "Yuriy Arabskyy <yuriy.arabskyy@xlydian.com>",]
readme = "README.md"
repository = "https://github.com/xLydianSoftware/Qubx"
[[tool.poetry.packages]]
include = "qubx"
from = "src"

[[tool.poetry.include]]
path = "src/**/*.so"
format = "wheel"

[[tool.poetry.include]]
path = "src/**/*.pyd"
format = "wheel"

[tool.ruff]
line-length = 120

[tool.poetry.build]
script = "build.py"
generate-setup-file = false

[tool.poetry.scripts]
qubx = "qubx.cli.commands:main"

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
numpy = "^1.26.3"
pandas = "^2.2.2"
pyarrow = "^15.0.0"
scipy = "^1.12.0"
scikit-learn = "^1.4.2"
statsmodels = "^0.14.2"
numba = "^0.59.1"
sortedcontainers = "^2.4.0"
ntplib = "^0.4.0"
python-binance = "^1.0.19"
ccxt = "^4.2.68"
pymongo = "^4.6.1"
redis = "^5.2.1"
psycopg = "^3.1.18"
psycopg-binary = "^3.1.19"
psycopg-pool = "^3.2.2"
matplotlib = "^3.8.4"
plotly = "^5.22.0"
dash = "^2.18.2"
dash-bootstrap-components = "^1.6.0"
loguru = "^0.7.2"
tqdm = "*"
importlib-metadata = "*"
stackprinter = "^0.2.10"
pydantic = "^2.9.2"
python-dotenv = "^1.0.0"
cython = "3.0.8"
croniter = "^2.0.5"
msgspec = "^0.18.6"
pyyaml = "^6.0.2"
tabulate = "^0.9.0"
toml = "^0.10.2"
gitpython = "^3.1.44"
jupyter = "^1.1.1"
jupyter-console = "^6.6.3"
ipywidgets = "^8.1.5"
questdb = "^2.0.3"
orjson = "^3.10.15"
aiohttp = "~3.10.11"
websockets = "15.0.1"
qubx-bitfinex-api = "^3.0.7"
textual = "^0.88.0"
rich = "^13.9.4"

[tool.ruff.lint]
extend-select = [ "I",]
ignore = [ "E731", "E722", "E741",]

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
pythonpath = [ "src",]
markers = [ "integration: mark test as requiring external services like Redis", "e2e: mark test as requiring external exchange connections and API credentials",]
addopts = "--disable-warnings"
filterwarnings = [ "ignore:.*Jupyter is migrating.*:DeprecationWarning",]

[tool.ruff.lint.extend-per-file-ignores]
"*.ipynb" = [ "F405", "F401", "E701", "E402", "F403", "E401", "E702", "I001",]

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
rust-just = "^1.36.0"
twine = "^5.1.1"
ipykernel = "^6.29.4"
iprogress = "^0.4"
click = "^8.1.7"
ipywidgets = "^8.1.5"
ruff = "^0.9.7"
pytest-xdist = "^3.6.1"
nbformat = "^5.10.4"
markdown = "3.7"
mkdocs = "1.6.1"
mkdocs-material = "9.6.5"
mdx-truly-sane-lists = "1.3"
pymdown-extensions = "10.14.3"
jinja2 = "3.1.5"
mike = "2.1.3"
mkdocs-jupyter = "0.25.1"
debugpy = "^1.8.12"

[tool.poetry.group.test.dependencies]
pytest-asyncio = "^0.24.0"
pytest-mock = "^3.12.0"
pytest-lazy-fixture = "^0.6.3"
pytest-cov = "^4.1.0"
mongomock = "^4.3.0"

[tool.poetry.group.k8.dependencies]
prometheus-client = "^0.21.1"

[tool.poetry.group.hft.dependencies]
hftbacktest = "^2.2.0"

[tool.poetry.group.test.dependencies.pytest]
extras = [ "lazyfixture",]
version = "^8.2.0"
